@import "bootstrap/scss/bootstrap";

@import "@fontsource/montserrat";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

img {
    max-width: 100%;
}